@use "base/mixins" as m;
@use "base/variables" as v;

.acciones{
  margin-top: 5rem;

  @include m.tablet{
    display: flex; /*Para que queden en columna*/
    justify-content: space-between;
  }

  a{

    display: block; /*Para que cada uno tome su propia linea*/
    text-align: center;
    margin-bottom: 2rem;
    color: v.$negro;

    /*Para que el ultimo elemento no tenga margin bottom*/
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}